---
import { Image } from "astro:assets"

import { Icon } from 'astro-icon/components'

import ThemeToggle from "@components/ThemeToggle.astro";
import Pill from "@components/Pill.astro"


const tags: string[] = ["DevOps", "1C Software Developer"]

const contact: { href: string, title: string, icon: string }[] = [
    { href: "https://github.com/gidragir", title: "GitHub", icon: "GithubIcon" },
    { href: "www.linkedin.com/in/илья-балтер-02427723a", title: "LinkedIn", icon: "LinkedinIcon" },
    { href: "https://dly.to/5DHznxhbkuA", title: "DailyDev", icon: "DailydevIcon" },
    { href: "https://wa.me/77027449952", title: "Whatsapp", icon: "WhatsappIcon" },
    { href: "https://t.me/gidragir", title: "Telegram", icon: "TelegramIcon" },
]
---

<div class="resume-section shadow-lg row-span-3 col-start-1 col-end-5 2xl:col-start-1 2xl:col-end-3 flex flex-col items-center gap-5">
    <Image class="rounded-full" src={"/resume_devops/me.jpg"} alt="" width="256" height="256" loading="eager" priority={true} />
    <ThemeToggle />
    
    <div>
        <h1>Ilya Balter</h1>
        <div class="flex flex-row justify-around gap-3">
            {tags.map(info => (
                <Pill text={info} />
            ))}
        </div>
    </div>

    <h2>Who i am</h2>

    <div class="flex flex-row justify-around gap-3">
        {contact.map(info => (
            <div class="flex flex-row">
                <a href={info.href} aria-label={info.title}>
                    <Icon name={info.icon} size="30" class="transition-all hover:scale-125" />
                </a>
            </div>
        ))}
    </div>
</div>