---
import { Image } from "astro:assets";

import { Icon } from "astro-icon/components";

import ThemeToggle from "@ui/ThemeToggle.astro";
import Pill from "@ui/Pill.astro";

const tags: string[] = ["Junior DevOps", "Middle 1C Developer"];

const contact: { href: string; title: string; icon: string }[] = [
  { href: "https://github.com/gidragir", title: "GitHub", icon: "GithubIcon" },
  {
    href: "www.linkedin.com/in/илья-балтер-02427723a",
    title: "LinkedIn",
    icon: "LinkedinIcon",
  },
  {
    href: "https://dly.to/5DHznxhbkuA",
    title: "DailyDev",
    icon: "DailydevIcon",
  },
  {
    href: "https://wa.me/77027449952",
    title: "Whatsapp",
    icon: "WhatsappIcon",
  },
  { href: "https://t.me/gidragir", title: "Telegram", icon: "TelegramIcon" },
];
---

<div
  class="items-center row-span-3 gap-5 resume-section 2xl:col-start-1 2xl:col-end-3"
>
  <Image
    class="rounded-full"
    src={"/resume_devops/me.jpg"}
    alt=""
    width="256"
    height="256"
    loading="eager"
    priority={true}
  />

  <div>
    <dev class="flex flex-row justify-center gap-3 mb-2 align-middle">
      <h1>Ilya Balter</h1>
      <ThemeToggle />
    </dev>
    <div class="flex flex-row justify-around gap-3">
      {tags.map((info) => <Pill text={info} />)}
    </div>
  </div>

  <span class="text-justify">
    4 years of experience in software development and customization, including
    business process automation, system integration, and database
    administration.
  </span>
  <span class="text-justify">
    Designed and implemented solutions for data migration, development of new
    modules, and optimization of corporate system configurations (1C, ERP).
  </span>

  <div class="flex flex-row justify-around gap-3">
    {
      contact.map((info) => (
        <div class="flex flex-row">
          <a href={info.href} aria-label={info.title}>
            <Icon
              name={info.icon}
              size="30"
              class="transition-all hover:scale-125"
            />
          </a>
        </div>
      ))
    }
  </div>
</div>
